@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #324c8d;
    color: #cbcbcb;
}

::-webkit-scrollbar {
    width: 6px;
    
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #cbcbcb;
}