@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    outline: 1px solid red;
} */

::selection {
    background-color: #fac204;
    color: #747474;
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #fac204;
}

.text-bordered {
    -webkit-text-stroke: 1.5px #040404;
}

td,
tr,
th {
    border: 2px solid #e5e7e9;
    text-align: center;
    padding: 12px 10px;
    font-size: medium;
}

.about::-webkit-scrollbar {
    display: none;
}
