@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #FAC204;
    color: #747474;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #FAC204;
}

/* .text-bordered {
    color: transparent;
    -webkit-text-stroke: 1.5px #040404;
} */
